<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
<script src="https://unpkg.com/vue-material@latest"></script>
<div id="app">
<md-toolbar md-theme="green">
  <md-button class="md-icon-button">
    <md-icon>menu</md-icon>
  </md-button>

  <h2 class="md-title" style="flex: 1">Vue Material</h2>

  <md-button class="md-icon-button">
    <md-icon>favorite</md-icon>
  </md-button>
</md-toolbar>
  
  <div class="main-content">
    <h1>SUMBER PERTANYAAN</h1>
<a target="_blank" href='https://www.facebook.com/notes/shejab-official/kumpulan-pertanyaan-yg-sering-diajukan-saat-pertama-kali-bisnis-online-menjadi-r/290439217774700/'>https://www.facebook.com/notes/shejab-official/kumpulan-pertanyaan-yg-sering-diajukan-saat-pertama-kali-bisnis-online-menjadi-r/290439217774700/</a></br>
<a target="_blank" href='http://diskusitokoonline.com/discussion/1604/tips-menjawab-pertanyaan-buyer/p1'>http://diskusitokoonline.com/discussion/1604/tips-menjawab-pertanyaan-buyer/p1</a></br>
<a target="_blank" href='https://www.tokopedia.com/jabrick/note/22297/mohon-membaca-quotpertanyaan-pertanyaan-yang-sering-diajukan-faqquot-sebelum-melakukan-transaksi-pembelian'>https://www.tokopedia.com/jabrick/note/22297/mohon-membaca-quotpertanyaan-pertanyaan-yang-sering-diajukan-faqquot-sebelum-melakukan-transaksi-pembelian</a></br>
<a target="_blank" href='http://blog.qlapa.com/pertanyaan-pembeli-di-toko-online'>http://blog.qlapa.com/pertanyaan-pembeli-di-toko-online</a></br>
<a target="_blank" href='https://www.tokopedia.com/juragankosmetik/note/277/frequently-asked-questions-faq-pertanyaan-pertanyaan-yang-sering-ditanyakan'>https://www.tokopedia.com/juragankosmetik/note/277/frequently-asked-questions-faq-pertanyaan-pertanyaan-yang-sering-ditanyakan</a></br>
<a target="_blank" href='https://www.tokopedia.com/watchmaniaid/note/294585/faq-list-pertanyaan-yang-biasa-ditanyakan'>https://www.tokopedia.com/watchmaniaid/note/294585/faq-list-pertanyaan-yang-biasa-ditanyakan</a></br>
<a target="_blank" href='http://tokogrosirtasmurah.com/content/8-tanya-jawab'>http://tokogrosirtasmurah.com/content/8-tanya-jawab</a></br>
<a target="_blank" href="https://www.tokopedia.com/sosialytaos/note/21347/faq-tanya-jawab-harap-dibaca">https://www.tokopedia.com/sosialytaos/note/21347/faq-tanya-jawab-harap-dibaca</a>
  </div>
</div>
<script>
    Vue.use(VueMaterial)

var App = new Vue({
  el: '#app'
})
Vue.material.registerTheme('about', {
  primary: {
    color: 'indigo',
    hue: 'A200'
  },
  accent: {
    color: 'grey',
    hue: 300
  }
})
</script>


